$white: #ffffff;
$color-primary: #4d6aca;
$color-secondary: #606c76;
$color-tertiary: #f4f5f6;
$color-quaternary: #d1d1d1;
$color-quinary: #e1e1e1;
$color-grey: #999999;
$color-smoke: #cccccc;
$color-lightgray: #cccccc;
$color-dark: #000;
$primary-color: rgba(77, 166, 255, 1);
$secondary-color: rgb(255, 255, 255);
$seco-color: #3655B3;
$headings-font-family:' Bebas Neue';
$paragraph-font: 'Muli';
$base-font-size: 16px;
$line-height: 1.5;
$paragraph-padd: 5px;
$nargin-z: 0px;
$section-padding: 120px 10px 80px 10px;
$paragraph-color: #858585;