/* Header---------------------End-------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 10px;
    }
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}


/* end-----------------galobal------data-------------------------- */


/* end-------------subscribe-------------------- */

.search .form-group .form-control:nth-child(1) {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #3655B3;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


/* testimonial-----------------------start---------------------- */

@-webkit-keyframes testim-scale {
    0% {
        -webkit-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }
    35% {
        -webkit-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }
    70% {
        -webkit-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }
    100% {
        -webkit-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-moz-keyframes testim-scale {
    0% {
        -moz-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }
    35% {
        -moz-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }
    70% {
        -moz-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }
    100% {
        -moz-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-ms-keyframes testim-scale {
    0% {
        -ms-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }
    35% {
        -ms-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }
    70% {
        -ms-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }
    100% {
        -ms-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-o-keyframes testim-scale {
    0% {
        -o-box-shadow: 0px 0px 0px 0px #eee;
        box-shadow: 0px 0px 0px 0px #eee;
    }
    35% {
        -o-box-shadow: 0px 0px 10px 5px #eee;
        box-shadow: 0px 0px 10px 5px #eee;
    }
    70% {
        -o-box-shadow: 0px 0px 10px 5px #ea830e;
        box-shadow: 0px 0px 10px 5px #ea830e;
    }
    100% {
        -o-box-shadow: 0px 0px 0px 0px #ea830e;
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@keyframes testim-scale {
    0% {
        box-shadow: 0px 0px 0px 0px #eee;
    }
    35% {
        box-shadow: 0px 0px 10px 5px #eee;
    }
    70% {
        box-shadow: 0px 0px 10px 5px #ea830e;
    }
    100% {
        box-shadow: 0px 0px 0px 0px #ea830e;
    }
}

@-webkit-keyframes testim-content-in {
    from {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@-moz-keyframes testim-content-in {
    from {
        opacity: 0;
        -moz-transform: translateY(100%);
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
}

@-ms-keyframes testim-content-in {
    from {
        opacity: 0;
        -ms-transform: translateY(100%);
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-o-keyframes testim-content-in {
    from {
        opacity: 0;
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes testim-content-in {
    from {
        opacity: 0;
        transform: translateY(100%);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@-webkit-keyframes testim-content-out {
    from {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-moz-keyframes testim-content-out {
    from {
        opacity: 1;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        -moz-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-ms-keyframes testim-content-out {
    from {
        opacity: 1;
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@-o-keyframes testim-content-out {
    from {
        opacity: 1;
        -o-transform: translateY(0);
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

@keyframes testim-content-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(-100%);
    }
}

@-webkit-keyframes testim-show {
    from {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-moz-keyframes testim-show {
    from {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
    to {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }
}

@-ms-keyframes testim-show {
    from {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
    to {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

@-o-keyframes testim-show {
    from {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
    to {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes testim-show {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@-webkit-keyframes testim-hide {
    from {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0);
    }
}

@-moz-keyframes testim-hide {
    from {
        opacity: 1;
        -moz-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        -moz-transform: scale(0);
        transform: scale(0);
    }
}

@-ms-keyframes testim-hide {
    from {
        opacity: 1;
        -ms-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        -ms-transform: scale(0);
        transform: scale(0);
    }
}

@-o-keyframes testim-hide {
    from {
        opacity: 1;
        -o-transform: scale(1);
        transform: scale(1);
    }
    to {
        opacity: 0;
        -o-transform: scale(0);
        transform: scale(0);
    }
}

@keyframes testim-hide {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}


/* dsfdkasjj */


/* --------------testimonial----------end-------------- */


/*--------------------------end-------------------------footer--------------------*/

body {
    color: var(--secondary-color);
    font-size: var(--base-font-size);
    font-family: var(--paragraph-font);
    line-height: var(--line-height);
    overflow-x: hidden;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: var(--primary-color);
    }
}

.top-nav {
    background: var(--primary-color);
    background: #3D75F2;
    color: #fff;
    line-height: 40px;
    padding-right: -15px;
    padding-left: -15px;
    padding: var(--paragraph-padd);
    .panel {
        background: #3D75F2;
        .left {
            background: var(--primary-color);
            line-height: var(--line-height);
            padding: var(--paragraph-padd);
        }
        .right {
            float: right;
            line-height: var(--line-height);
            padding: var(--paragraph-padd);
            justify-content: space-between;
        }
        &:first-child {
            a {
                &:not([href]) {
                    color: var(--secondary-color);
                    font-size: var(--base-font-size);
                    line-height: var(--line-height);
                    margin: var(--nargin-z) !important;
                    font-family: var(--paragraph-font);
                    &:hover {
                        color: var(--secondary-color);
                        font-size: var(--base-font-size);
                        line-height: var(--line-height);
                        margin: var(--nargin-z) !important;
                        font-family: var(--paragraph-font);
                    }
                }
            }
        }
    }
}

p {
    color: var(--secondary-color);
    font-size: var(--base-font-size);
    line-height: var(--line-height);
    padding: var( --paragraph-padd);
    margin: var(--nargin-z) !important;
    font-family: var(--paragraph-font);
}

h1 {
    font-family: var(--headings-font-family);
}

h2 {
    font-family: var(--headings-font-family);
    color: #3D75F2;
    position: relative;
    z-index: 2;
}

h3 {
    font-family: var(--headings-font-family);
    color: #3D75F2;
    font-size: 23px;
    z-index: 2;
}

h4 {
    font-family: var(--headings-font-family);
    color: var(--secondary-color);
    z-index: 2;
    margin: 0px;
}

.subscriptionPlan {
    background: var(--secondary-color);
    color: var(--seco-color) !important;
    height: 45px;
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration: none;
    margin-left: 5px;
}

.login {
    background: var(--secondary-color);
    color: var(--seco-color) !important;
    height: 45px;
    padding: 5px 10px;
    border-radius: 15px;
    text-decoration: none;
    margin-left: 5px;
}

header {
    box-shadow: 5px 0px 7px #ccc;
    display: flex;
    position: sticky;
    top: 0px !important;
    z-index: 30;
    background: #fff;
    display: flex;
}

.navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-end;
    float: right;
}

nav {
    ul {
        list-style: none;
        display: flex;
        margin: 0px;
        padding: 0px;
        justify-content: space-between;
        li {
            line-height: var(--line-height);
            padding: var( --paragraph-padd);
            margin: var(--nargin-z) !important;
            padding-right: 15px;
            font-family: var(--paragraph-font);
            position: relative;
            a {
                color: #888888;
                text-decoration: none;
                text-transform: initial;
                line-height: 72px;
                padding: var( --paragraph-padd);
                &:hover {
                    position: relative;
                    color: var(--primary-color);
                }
                &::after {
                    content: '';
                    top: 50px;
                    position: relative;
                    color: var(--primary-color);
                    border-bottom: 3px solid var(--primary-color);
                }
            }
            .active {
                color: var(--primary-color);
                left: 11px;
                height: 5px;
                &::after {
                    color: var(--primary-color);
                    border-bottom: 3px solid var(--primary-color);
                    position: absolute;
                    top: 85px;
                    content: '';
                    left: 10px;
                    height: 5px;
                    width: 70%;
                }
            }
        }
    }
}