<app-search (searchSubmit)="onSearchSubmit($event)">
</app-search>
<section id="about">

    <div class="about">
        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <div class="content-column" data-aos="fade-up">
                        <h2>We will find out your goals and solve your problems</h2>
                        <p class="mt-40">We will help you to achieve your goals and will help to increase your business of export and import Tell us your difficulties, we are the solutions of it.</p>
                        <div class="mt-40">
                            <a class="theme-btn">Read more..</a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="about-img" data-aos="fade-up">
                        <img src="../../assets/images/about/1.png">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
<section id="client-sec">
    <div class="container">

        <div class="row">
            <div class="col-lg-3">
                <div class="client-wrapper" data-aos="fade-down">
                    <img src="../../assets/images/icon/country.png">
                    <h4>88+</h4>
                    <p> Country</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="client-wrapper" data-aos="fade-down">
                    <img src="../../assets/images/icon/client.png">
                    <h4>35000+</h4>
                    <p> Clients</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="client-wrapper" data-aos="fade-down">
                    <img src="../../assets/images/icon/importer.png">
                    <h4>1867</h4>
                    <p> Importer</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="client-wrapper" data-aos="fade-down">
                    <img src="../../assets/images/icon/importer.png">
                    <h4>44239</h4>
                    <p> Exporter</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="company-policies">
    <div class="container">
        <h2 class="py-4">Company policies</h2>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="company-wrapper" data-aos="flip-left">
                    <img class="py-4" src="../../assets/images/policies/policies.png">
                    <div class="policies-content">
                        <h3>100% Reimbursement</h3>
                        <p> You are in a risk free zone as your money is in safe hands, as an investment today is a source of income tomorrow. If you find any shipment which is manipulated, you will get 100% refund.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="company-wrapper" data-aos="flip-left">
                    <img class="py-3" src="../../assets/images/policies/policies1.png">
                    <div class="policies-content">
                        <h3>Delivery</h3>
                        <p> We ensure the delivery of our services within 24 hours.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="company-wrapper" data-aos="flip-left">
                    <img class="py-4" src="../../assets/images/policies/policies2.png">
                    <div class="policies-content">
                        <h3>Cost</h3>
                        <p> Cost Proficiency you need. Service you deserve! Providing the cost effective market analysis report which help towards the growth of your business. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="company-wrapper" data-aos="flip-left">
                    <img class="py-4" src="../../assets/images/policies/policies3.png">
                    <div class="policies-content">
                        <h3>Our Team</h3>
                        <p> We believe in unity in diversity, customer is in top priority for each individual of our company. We have a team of 80+ business development managers.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="company-wrapper" data-aos="flip-left">
                    <img class="py-3" src="../../assets/images/policies/policies4.png">
                    <div class="policies-content">
                        <h3>Graphical Presentation</h3>
                        <p> Graphical presentation makes the statical figures more understandable by representation of data. It helps to analysis the data easily and quickly.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="company-wrapper" data-aos="flip-left">
                    <img class="py-3" src="../../assets/images/policies/policies5.png">
                    <div class="policies-content">
                        <h3>Dedicated</h3>
                        <p> For any query or feedback please let us know, our support services are 24/7 here to entertain your issues and rewards.</p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
<section id="work-process">

    <div class="line d-lg-inline-block"><img src="../../assets/images/work-process/bg.png" alt=""></div>
    <div class="container">
        <h2 class="py-4">work process</h2>
        <div class="row g-5">
            <div class="col-lg-4">
                <div class="wrapper">
                    <div class="research-wrapper">
                        <img class="py-4" src="../../assets/images/work-process/work.png">
                        <div class="work-content">
                            <h3>Research Project</h3>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2">
                <div class="wrapper">
                    <div class="find-wrapper">
                        <img src="../../assets/images/work-process/work1.png">
                        <div class="policies-content">
                            <h3>Find Ideas</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="wrapper">
                    <div class="start-wrapper">
                        <img src="../../assets/images/work-process/work2.png">
                        <div class="policies-content">
                            <h3>Start Optimize</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="wrapper">
                    <div class="policies-wrapper">
                        <img src="../../assets/images/work-process/work3.png">
                        <div class="policies-content">
                            <h3>Reach Target</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="wrapper">
                    <div class="data-wrapper">
                        <img src="../../assets/images/work-process/work4.png">
                        <div class="policies-content">
                            <h3>Data Cleaning</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<section id="galobal-data">
    <div class="container">
        <h2 class="py-4">Export Import Data</h2>
        <div class="row g-5">
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="galobal-wrapper" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom">
                    <img alt="Autraila" src="../../assets/images/country/AU.png">
                    <div class="galobal-content">
                        <h3>Australia</h3>
                        <a href="#"> Import<i class="fas fa-angle-right"></i></a>
                        <a href="#"> Export<i class="fas fa-angle-right"></i></a>
                    </div>
                </div>
            </div>


        </div>

    </div>
</section>
<section id="subscribe">
    <div class="container">
        <div class="subscribe-form">
            <div class="row g-0">
                <div class="col-lg-12">
                    <div class="subscribe-wrapper">
                        <h1>Hurry up and get instant referral benefits</h1>
                        <div class="align-items-center justify-content-center">
                            <div class="search">
                                <div class="row  g-0">
                                    <div class="col-lg-11">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="" placeholder="Your Email Address" id="">
                                        </div>
                                    </div>
                                    <div class="col-lg-1">
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary" value="Search" id="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="update">

    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <div class="content-column aos-init aos-animate" data-aos="fade-up">
                    <h2>We keep our self updated with latest trends</h2>
                    <p class="mt-40"> We will help you to achieve your goals and will help to increase your business of export and import Tell us your difficulties, we are the solutions of it.</p>
                    <div class="mt-40">
                        <a class="theme-btn">Read more..</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="img aos-init aos-animate" data-aos="fade-up">
                    <img src="../../assets/images/updates/update.png">
                </div>
            </div>
        </div>
    </div>

</section>


<section id="testim" class="testim">
    <div class="testim-cover">
        <div class="wrap">

            <span id="right-arrow" class="arrow right fa fa-chevron-right"></span>
            <span id="left-arrow" class="arrow left fa fa-chevron-left "></span>
            <ul id="testim-dots" class="dots">
                <li class="dot active"></li>
                <!--
                    -->
                <li class="dot"></li>
                <!--
                    -->
                <li class="dot"></li>
                <!--
                    -->
                <li class="dot"></li>
                <!--
                    -->
                <li class="dot"></li>
            </ul>
            <div id="testim-content" class="cont">


                <div class="active">
                    <div class="img"><img src="https://in.bmscdn.com/iedb/artist/images/website/poster/large/kartik-aaryan-1045198-08-12-2017-06-34-11.jpg" alt=""></div>
                    <h2>Lorem P. Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>

                <div>
                    <div class="img"><img src="https://timesofindia.indiatimes.com/thumb/msid-75752690,width-800,height-600,resizemode-4/75752690.jpg" alt=""></div>
                    <h2>Mr. Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>

                <div>
                    <div class="img"><img src="https://p16.muscdn.com/img/musically-maliva-obj/1627333501517830~c5_720x720.jpeg" alt=""></div>
                    <h2>Lorem Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>

                <div>
                    <div class="img"><img src="https://p16-sg-default.akamaized.net/aweme/1080x1080/tiktok-obj/1666413671597057.jpeg" alt=""></div>
                    <h2>Lorem De Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>

                <div>
                    <div class="img"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSKLJe1Lrz2N3ufVSwQokSJ79jGBbIptXuVnsdxMmNUlE14ohwp&usqp=CAU" alt=""></div>
                    <h2>Ms. Lorem R. Ipsum</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
                </div>

            </div>

        </div>
    </div>
</section>